p {
    color: brown;
}

.center {
    text-align: center;
    font-weight: bold;
    letter-spacing: 12px;
}

.right {
    text-align: right;
    text-decoration: underline;
    font-size: 10px;
}

.justify {
    text-align: justify;
    line-height: 2;
}

.styled {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.8;
    letter-spacing: 3px;
}

button {
    font-size: 20px;
}