/* Pseudo Sınıflar */

a:visited {
    color: red;
}

a:active {
    color: green;
}

button:active {
    color: aqua;
}

p:nth-of-type(2) {
    font-weight: bold;
}

input:disabled {
    background-color: blue;
}

input:focus{
    outline: 2px solid blue;
    background-color: brown;
}

/* Pseudo Elemanlar */

p::first-letter {
    font-size: 32px;
    font-weight: bold;
    color: blue;
}

p::first-line {
    color: green;
    text-transform: uppercase;
}

::selection {
    background-color: rgb(158, 188, 198);
}

h3::before {
    content: "Önemli: ";
    font-weight: bold;
    color: blueviolet;
}

h3::after {
    content: "[Daha fazla oku.]";
    color: burlywood;
}